* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  backdrop-filter: blur(15px);
}

.menu-navbar {
  position: absolute;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

.navbar-img {
  max-width: 250px;
}

body {
  margin: 0;
}

.slides {
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.slide1 img {
  width: 30%;
}

.home::before,
.menu-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.home::before {
  background-image: url(./images/home-background.jpg);
}

.home-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 1500px;
  min-height: 400px;
  padding-right: 35%;
  padding-left: 5%;
  z-index: 1;
  font-weight: normal;
  color: black;
  font-size: clamp(1.5rem, 1.5rem + 1vw, 2.5rem);
  opacity: 1;
}

.home-content button {
  background-color: #fff;
  border: none;
  padding: 1% 2%;
  border-radius: 0.5rem;
  max-width: 200px;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1.5% 1.5%;
}

.home-content button a {
  color: #000;
  text-decoration: none;
}

.home-content button:hover {
  background-color: #cccbc8;
}

.down-button {
  position: absolute;
  top: 90%;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

#about {
  height: 50vh;
  height: 50svh;
  padding: 120px 100px 120px 100px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-box {
  display: flex;
  flex: 1;
  max-width: 40%;
  box-sizing: border-box;
  margin: 0 1%;
  justify-content: center;
  align-items: center;
}

.about-text {
  padding: 20px;
  box-sizing: border-box;
}

.about-text h1 {
  margin-bottom: 10px;
}

.about-image {
  max-width: 60%;
  object-fit: contain;
}

.opening-hours {
  text-align: center;
  width: 45%;
  margin-right: 50px;
  border-left: 1px solid #d2d2d2;
}

.opening-hours table {
  border-spacing: 1vh;
}

.opening-hours th {
  text-align: right;
}

.opening-hours td {
  text-align: left;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.menu {
  color: #000;
}

.contact {
  text-align: center;
  width: 45%;
}

.contact dt {
  margin: 10px 0 5px;
  font-weight: bold;
}

.contact a {
  color: #000;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.store-info {
  height: 90vh;
  height: 90svh;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 80px;
}

.contact-hours-container {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-title {
  background: url(./images/grey-line.gif) center repeat-x;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.section-title h2 {
  color: #fff;
  margin: 0;
  padding: 10px;
  display: inline-block;
  background-color: #000;
}

.menu-title::before {
  height: 40vh;
  height: 40svh;
  background-image: url(./images/menu-background.jpg);
}

.menu-title {
  height: 40vh;
  height: 40svh;
}

.menu-title-content {
  display: flex;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 80.47px;
}

.menu-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: hidden;
  background-color: white;
  padding-bottom: 5%;
}

.menu-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 65%;
  height: auto;
  position: relative;
}

.menu-items {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  height: fit-content;
  margin-left: auto;
}

.menu-item {
  display: block;
  clear: both;
  overflow: hidden;
  padding: 0 2% 2% 2%;
  background-color: white;
  width: 48%;
  position: relative;
  border-bottom: 1px solid lightgrey;
  height: fit-content;
}

.menu-item .item-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.menu-item .item-description,
.menu-item .item-price {
  font-size: 0.8rem;
}

.cart-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22%;
  margin-left: auto;
  height: inherit;
}

.invisible-box {
  width: 22%;
  position: relative;
  height: auto;
  visibility: hidden;
  /* margin-left: auto; */
}

.burger-subcategories {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
}

.burger-subcategory {
  display: flex;
  flex-direction: column;
  width: auto;
}

.burger-subcategory-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: medium;
  height: 5rem;
  width: 100%;
  border-top: double;
  border-bottom: double;
  margin-bottom: 5%;
  margin-top: 5%;
}

.burger-subcategory-header.first-subcategory {
  margin-top: 0;
}

.burger-subcategories .menu-items {
  width: 100%;
  margin-left: auto;
}

.cart-container h2 {
  margin: 0 0.5rem 1rem 0.5rem;
}

.cart {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  padding: 1rem;
  z-index: 1;
  min-height: 30vh;
  overflow-y: hidden;
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  border-style: none solid solid solid;
  border-width: thin;
  border-color: lightgrey;
  padding: 1rem 1rem;
}

.cart-total .total-align-right {
  text-align: right;
}

.complete-order-message {
  padding: 0.5rem 0;
  font-size: smaller;
  font-weight: bold;
}

.specials .section-title {
  margin: 0 auto 3% auto;
}

.specials-container {
  width: 65%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-right: 2vw;
}

.specials-item {
  width: calc((100% - 2rem) / 3);
  padding: 2%;
  box-sizing: border-box;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  box-shadow: 5px 10px 10px 2px lightgrey;
}

.specials-item h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.specials-item h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.specials-item p {
  font-size: 14px;
  color: #555;
}

.specials-item h2:last-child {
  margin-top: 10px;
  color: #ff6347;
}

.specials-item .quantity {
  max-height: 1.8rem;
  margin: 0;
}

.specials-item .add-to-cart {
  margin: 0;
}

.category-links {
  padding: 2% 0;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: larger;
  background-color: #f7f7f7;
  position: sticky;
  top: 0;
  z-index: 10;
}

.category-links a {
  margin-right: 1em; /* Adjust this value as needed */
  position: relative;
}

.category-links a:hover {
  color: gold;
  cursor: pointer;
}

.category-links a.active .category-link {
  position: relative;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid gold; /* This creates a gold underscore */
}

.category-links a:not(:first-child)::before {
  content: "|";
  color: black;
  text-align: center;
  margin-right: 1em; /* Adjust this value as needed */
  position: relative;
}

.item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.8rem;
}

.item-bottom .error-message {
  color: red;
  align-self: flex-end;
}

.quantity,
.crumb-option {
  display: flex;
  width: fit-content;
  height: 100%;
  margin-right: 1.5rem;
  border: #000;
  border-width: thin;
  border-style: solid;
  border-radius: 0.2rem;
  overflow: hidden;
  margin-top: 0.5rem;
}

.crumb-option {
  margin: 0.5rem 0 0 0;
}

.current-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  padding: 0 1rem;
}

.decrease-quantity,
.increase-quantity {
  padding: 0 1rem;
  background-color: darkgray;
  color: white;
  border: none;
  font-size: large;
  cursor: pointer;
}

.crumb-option button {
  color: white;
  background-color: darkgray;
  width: fit-content;
  border: none;
  font-size: x-small;
  padding: 0 0.5rem;
}

.decrease-quantity:hover,
.increase-quantity:hover,
.crumb-option button:hover {
  background-color: #555;
}

.increase-quantity,
.crumb-option .remove-crumb {
  border-left: thin solid white;
}

.add-to-cart {
  background-color: darkgray;
  color: white;
  border: none;
  font-size: normal;
  cursor: pointer;
  border: #000;
  border-width: thin;
  border-style: solid;
  border-radius: 0.2rem;
  padding: 0.3rem 0.5rem;
  margin-top: 0.5rem;
  height: 100%;
}

.add-to-cart:hover {
  background-color: #555;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: thin solid lightgrey;
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.3rem 0;
}

.empty-cart-text {
  font-size: small;
}

.cart-description {
  font-size: x-small;
}

.item-text {
  padding-bottom: 0.1rem;
}

.item-name {
  font-weight: bold;
  font-size: 0.9rem;
}

.item-price {
  font-size: 0.7rem;
}

.cart-item .cart-remove-all {
  background-color: white;
  border: none;
  font-size: large;
  color: red;
  margin-right: 1rem;
}

.no-wrap {
  white-space: nowrap;
}

.pork-size-buttons {
  display: flex;
  width: fit-content;
  border: thin solid black;
  border-radius: 0.2rem;

}

.pork-size-buttons button {
  font-size: x-small;
  background-color: white;
  color: black;
  padding: 0.2rem 0.3rem;
  border: none;
  cursor: pointer;
}

.pork-size-buttons .medium {
  border-right: thin solid black;
}

.pork-size-buttons button:hover,
.pork-size-buttons button.selected {
  color: white;
  background-color: darkgrey;
}
